#wrapper{

    background-color: red;
}

#header{
    width: 900px;
    height: 200px;
    background-color: White;
    margin: 0 auto;
font-size: 15px;
border-style: double;
}
#Headtext{
    position: relative;
    top: -100px;
    left: 250px;
}
#Headtext:hover{
    color: red;
}

#Logo{
    width: 150px;
    height: 150px;
    padding:25px;
}

#leftpic{
    width: 250px;
    height: 250px;
    background-color: white;
    float:left;
    border-style: double;
}
#rightpic{
    width: 250px;
    height: 250px;
    background-color: white;
    float:right;
    border-style: double;
}
#bigBox img{
  height:200px;
  width:200px;
}
#bigBox{
    width:200px;
    height:200px;
    margin:25px 25px 25px 25px;
    background-color:black;
    border-style: double;
    }

#rightdesc{
  width: 800px;
  height: 220px;
  background-color:White;
  color: Black;
margin: 0 auto;
font-family: cursive;
font-size: 19px;
border-style: ridge;
margin-top: 20px;
      }
      #H2text{
          position: relative;
          left: 250px;
          color: black;
      }

      #H2text:hover{
          color: red;
    }

      #box1{
        margin: 0 auto;
        width: 800px;
        height: 100px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        border-style: ridge;
        margin-top: 20px;

            }

      #Webpage1{
        margin: 0 auto;
        color: black;
        font-size: 20px;
        text-align: center;
      }
 #Webpage1:hover{
     color: red;
}
      #box2{
        margin: 0 auto;
        width: 800px;
        height: 100px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        border-style: ridge;
        margin-top: 20px;

            }

      #Webpage2{
        margin: 0 auto;
        color: black;
        font-size: 20px;
        text-align: center;
      }
      #Webpage2:hover{
          color: red;
     }
      #box3{
        margin: 0 auto;
        width: 800px;
        height: 100px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        border-style: ridge;
        margin-top: 20px;

            }

      #Webpage3{
        margin: 0 auto;
        color: black;
        font-size: 20px;
        text-align: center;
      }
      #Webpage3:hover{
          color: red;
     }
      #box4{
        margin: 0 auto;
        width: 800px;
        height: 100px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        border-style: ridge;
        margin-top: 20px;

            }

      #Webpage4{
          margin: 0 auto;
          color: black;
          font-size: 20px;
          text-align: center;
      }
      #Webpage4:hover{
          color: red;
     }

      #Menu1{
        margin: 0 auto;
        width: 650px;
        height: 500px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
        border-style: ridge;
        margin-top: 20px;
            }

      #Contact{
        width: 650px;
        height: 150px;
        background-color:white;
        float: none;
        color: black;
        margin: 0 auto;
        font-size: 25px;
        font-family: serif;
        font-weight: bold;
        text-align: center;
        border-style: double;
            }
      #Cinfo{
        margin: auto;
        top: 20px;
        left: 250px;
        color: Black;
            }

            #Cinfo:hover{
                color: red;
           }
#clock{
  width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 100px;
  font-family: cursive;
  font-weight: bold;
}

.animate.backwards:hover{
    color: red;
  }
  .animate.mixed:hover{
      color: red;
    }
    .animate.forwards:hover{
        color: red;
      }
.animate span{
display: block;
position: relative;
text-align: center;
}
.animate.backwards > span{
animation: animateBackwards 1s ease-in-out
forwards;
}
.animate.forwards > span{
animation: animateForwards 1s ease-in-out
forwards;
}
.animate.mixed > span:nth-child(even){
animation: animateBackwards 1s ease-in-out
forwards;
}
.animate.mixed > span:nth-child(odd){
animation: animateForwards 1s ease-in-out
forwards;
}
@keyframes animateForwards {
from { top: 0; transform: rotate(0deg); }
to { top: .9em; transform: rotate(-15deg); }
}
@keyframes animateBackwards {
from { top: 0; transform: rotate(0deg); }
to { top: 1em; transform: rotate(25deg); }
}
