#wrapper{
    background-color: red;
}

#header{
    width: 900px;
    height: 100px;
    background-color: White;
    margin: 0 auto;
font-size: 15px;
}
#Headertext{
  position: relative;
  top: 20px;
  left: 275px;
    color: black;
}

#rightdesc{
        width: 800px;
        height: 250px;
        background-color:White;
        color: Black;
    margin: 0 auto;
    font-family: cursive;
    font-size: 19px;
      }
      #H2text{
          position: relative;
          text-align: center;
          color: black;
      }
      #box1{
                margin: 0 auto;
                width: 800px;
                height: 500px;
                background-color: white;
                color: Black;
                font-size: 20px;
                font-family: cursive;
              }

      #Paragraph2{
          position: relative;
          color: black;
          font-size: 30px;
          text-align: center;
      }

      #box2{
        margin: 0 auto;
        width: 800px;
        height: 650px;
        background-color: white;
        color: Black;
        font-size: 20px;
        font-family: cursive;
            }

      #Paragraph3{
          position: relative;
          color: black;
          font-size: 30px;
          text-align: center;
      }

      #Contact{
              width: 650px;
              height: 300px;
              background-color:white;
              float: none;
              color: black;
              margin: 0 auto;
              margin-top: 100px;
              font-size: 25px;
              font-family: serif;
              font-weight: bold;
              text-align: center;
            }
      #Cinfo{
                margin: auto;
                top: 20px;
                left: 250px;
                color: Black;
            }
